{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block meta_description%} Add a Service {% endblock %}
{% block title%} Add Service Page {% endblock %}
{% block content %}

<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'img/bg-img/12.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h2 class="title">Delete Post</h2>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body ml-3">

            <p>Are you sure you want to delete "{{ post }}" ?</p>

            <form action="{% url 'post-delete' post.id %}" method="post">
                {% csrf_token %}

                <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
                <input type="submit" class="btn btn-danger" name="Delete">
            </form>
        </div>
    </div>
</div>
<br>

{% endblock %}